*
  position: relative
  +box-sizing(border-box)

html
  background-color: white
  color: $color-text
  font-family: $font-body
  font-weight: 300

a
  color: inherit
  text-decoration: none

.container
  padding: 0 $gtr * 2
  max-width: $container
  margin: 0 auto
  +bk(3)
    padding: 0 $gtr

p
  font-size: $font
  line-height: $line + $border
  padding-bottom: $line

  a
    text-decoration: underline

strong
  font-weight: bold

h2,
h3
  padding-bottom: $line

h2
  font-size: $line
  line-height: $line * 1.2
  text-align: center

  +bk(2)
    font-size: $line * 1.3
    line-height: $line * 1.5

h3
  font-size: $line

section
  z-index: 10
  margin: 0
  padding: $line*2 0 $line
  overflow: hidden
  position: relative

input,
button
  -webkit-appearance: none
  appearance: none
  border: none
  font-family: inherit
  border-radius: 0

.button
  background-color: $color-blue
  border-radius: $gtr/2
  color: white
  font-size: 20px
  padding: $line/2 $line

  $gradient-angle: -20deg

  &.blue
    color: white

    // IE6-9 fallback on horizontal gradient
    @include filter-gradient($color-lightblue, $color-lightblue, horizontal)

    // Two colors, diagonal split
    @include background-image(linear-gradient($gradient-angle, $color-lightblue*.9 0%, $color-lightblue*.9 50%, $color-lightblue 50%, $color-lightblue 100%))

  &.green
    color: white

    // IE6-9 fallback on horizontal gradient
    @include filter-gradient($color-green, $color-green, horizontal)

    // Two colors, diagonal split
    @include background-image(linear-gradient($gradient-angle, $color-green*.8 0%, $color-green*.8 50%, $color-green 50%, $color-green 100%))

  &.gray
    color: #bbb

    // IE6-9 fallback on horizontal gradient
    @include filter-gradient(#eee, #ddd, horizontal)

    // Two colors, diagonal split
    @include background-image(linear-gradient($gradient-angle, #ddd*.95 0%, #ddd*.95 50%, #ddd 50%, #ddd 100%))
