.page-header
  z-index: 10
  padding: $line * 4 0 0
  text-align: center
  width: 100%

  .bg-photo
    +multi-background("header")
    +absolute(0, 0)
    width: 100%
    height: 550px

  h1.site-title
    +clearfix

    img,
    span
      display: inline-block

    img
      width: 120px

    span
      color: #666
      font-size: 52px
      letter-spacing: -2px
      margin-left: $line
      vertical-align: $line * 1.4

      strong
        font-weight: bold

  h2
    font-size: 48px
    margin-top: $line*3

  p
    margin: 0 auto
    padding: 0

    &.tagline
      font-weight: bold
      margin-top: $line/2
      width: $container*.6

    & + p
      font-size: $font-small
      line-height: 1.6
      width: $container * .5

  a
    @extend .button.blue
    display: inline-block
    margin-top: $line*2