.page-header
  z-index: 10
  padding: $line*2 0 0
  text-align: center
  width: 100%

  h1.site-title
    img
      margin-right: $line*1.4
      width: 100%
      max-width: 627px

  h2
    color: white
    font-size: 30px
    font-style: italic
    margin-top: $line*.75

  a
    background: image-url("find-events-button.png") top no-repeat
    background-size: 193px
    display: inline-block
    font-size: 18px
    margin-top: $line/4
    padding: $line*.8 0 0 0
    width: 193px
    height: 76px


// Header heights.
$header-huge: 800px
$header-large: 550px
$header-medium: 350px
$header-small: 250px

// Images should be cropped as follows:
// Huge:   2500 x 850
// Large:  1600 x 600
// Medium: 1030 x 400
// Small:   640 x 280

// Huge displays; HDTV etc.
.page-header,
.bg-photo
  height: $header-huge

.bg-photo
  height: $header-huge + 50px

// Large displays; most displays.
@media screen and (max-width: 1600px)
  .page-header,
  .bg-photo
    height: $header-large

  .bg-photo
    height: $header-large + 50px

// Small displays; largest image that iOS can load into single memory buffer.
@media screen and (max-width: 1024px)
  .page-header,
  .bg-photo
    height: $header-medium

  .bg-photo
    height: $header-medium + 50px

// Phablets.
@media screen and (max-width: 640px)
  .page-header,
  .bg-photo
    height: $header-small

  .bg-photo
    height: $header-small + 50px
