/*! Google Developers: Women Techmakers
  Designed and Developed by Ocupop (2014)
  */

@import compass
@import compass/reset

// Sizes
$line: 24px
$font: 16px
$font-small: 13px
$gtr: $line/2
$border: 4px
$col: 320px
$container: 960px

// Colors
$color-text: #555
$color-blue: #567ebd
$color-lightblue: #48c1ed
$color-darkblue: #4571b4
$color-green: #25b9a2
$color-lightgreen: #6bc2a1
$color-darkgreen: #249d89
$color-gray: #888

// Fonts
$font-body: "Open Sans", sans-serif

// Stylesheets
@import mixin
@import base
@import nav
@import about
@import social
@import events
@import faq
