<!DOCTYPE html>
<html class="no-js" ng-app="womentechmakers">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Women Techmakers — Engineering the Future</title>
<meta name="description" content="Google is partnering with Women Techmakers to launch a series of global events geared towards increasing visibility, community, and resources for technical women in our industry.">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
<link rel="stylesheet" href="css/style.css?cachebuster=20140324">

<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,700' rel='stylesheet' type='text/css'>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script src="js/vendor.min.js"></script>

</head>

<body>

<header class="page-header" id="home">
  <div class="pattern-header"></div>
  <div class="header-gradient"></div>

  <div class="container">
    <h1 class="site-title">
      <img format="svg png" ocu-src="img/logo-lockup-white" alt="Women Techmakers">
    </h1>
    <h2>Celebrating International Women&rsquo;s Day</h2>
    <a class="events-jumper" href="#events" ocu-scroll-click>Register for an Event</a>
  </div>
</header>

<nav class="page-nav" ng-controller="NavCtrl">
  <div class="nav-container" ui-show="nav.show_mobile">
    <ul>
      <li><a href="#home"   ocu-scroll-click class="nav-home current-nav-item">Home</a></li>
      <li><a href="#about"  ocu-scroll-click class="nav-about">About</a></li>
      <li><a href="#events" ocu-scroll-click class="nav-events">Events</a></li>
      <li><a href="#social" ocu-scroll-click class="nav-social">#WomenTechmakers</a></li>
      <li><a href="#faq"    ocu-scroll-click class="nav-faq">FAQ</a></li>
    </ul>
    <div class="mobile-nav-hook" ng-click="nav.show_mobile = !nav.show_mobile">
      <span>&nbsp;</span>
    </div>
  </div>
</nav>

<section id="about" class="about-section" ocu-scroll-section>
  <div class="container">
    <div class="google-plus-badge">
      <!-- Place this tag where you want the widget to render. -->
      <div class="g-community" data-width="265" data-href="https://plus.google.com/communities/100202454944694552166" data-theme="dark" data-showtagline="false"></div>

      <!-- Place this tag after the last widget tag. -->
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/platform.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>
    </div>
    <div class="paragraphs">
      <p>Google strives to cultivate a wholly inclusive workplace around the globe. A key component of that vision is empowering women to pursue their dreams and build tools that change the world. We believe that when organizations create the right environments, programs and policies, women in technology can thrive.</p>
      <p>That&rsquo;s why, in conjunction with International Women&rsquo;s Day on March 8th, Google is launching a series of global <a href="https://developers.google.com/women-techmakers/">Women Techmakers</a> events geared towards increasing visibility, community and resources for technical women in our industry. The events will feature panel discussions with female technology leaders, hands-on career-planning workshops, networking opportunities, and more.</p>
      <p>If you&rsquo;d like to take part in our event programs, please click on your location to see what&rsquo;s happening near you.</p>
    </div>
  </div>
</section>

<section id="events" class="events-section" ocu-scroll-section ng-controller="MapCtrl">
  <div class="container">
    <h2>Register for an Event</h2>
    <div class="location-map-container">
      <div class="location-switch-modes">
        <button ng-click="event_map.show='map'" ui-show="event_map.show=='map'">
          Map</button>
        <button ng-click="event_map.show='list'" ui-show="event_map.show=='list'">
          List</button>
      </div>

      <div id="location-event-map" class="map-canvas" ng-show="event_map.show=='map'"
        ui-map="event_map.map" ui-options="event_map.map_options"></div>

      <ul id="location-event-list" class="location-event-list"
        ng-show="event_map.show=='list'">
        <li ng-repeat="event in event_map.events">

          <div class="event-wrapper" ui-show="event_map.selected === $index">
            <div class="top-border"></div>
            <div class="bottom-border"></div>

            <time datetime="{{event.start|coerceDate|date:'yyyy-MM-dd'}}"
              ng-bind="event.start|coerceDate|date:'longDate'"></time>
            <h3 class="event-title" style="font-size:18px">
              <a ng-href="{{event.desiredUrl}}"
                ng-bind="event.name" target="_blank"></a>
            </h3>
            <p class="event-location" ng-bind="event.location"></p>
            <!--<p class="event-description" ng-bind="event.description"></p>-->
          </div>

        </li>
      </ul>
    </div>
    <p>If you don&rsquo;t see complete details or an event near you, stay tuned as this site will be updated daily with new information.</p>
  </div>
</section>

<section id="social" class="social-section" ocu-scroll-section>
  <div class="pattern-right-layer"></div>

  <div class="container">
    <h2>#WomenTechmakers</h2>
    <div id="tagboard-embed"></div>
    <script>var tagboardOptions = {tagboard:"womentechmakers/154933", fixedHeight: false};</script>
    <script src="https://tagboard.com/public/js/embed.js"></script>
  </div>
</section>

<section id="faq" class="faq-section" ocu-scroll-section>
  <div class="pattern-left-layer"></div>

  <div class="container">
    <h2>Frequently Asked Questions</h2>

    <h3>What is International Women&rsquo;s Day?</h3>
    <p><a href="http://www.internationalwomensday.com/">International Women&rsquo;s Day</a> (IWD) is marked on March 8th every year. In different regions, the focus of celebrations ranges from general respect and appreciation toward women to a celebration of women&rsquo;s economic, political, and social achievements.</p>

    <h3>Why does Google support International Women&rsquo;s Day (IWD)?</h3>
    <p> From Ada Lovelace to Grace Hopper, we&rsquo;re proud of the contributions women have made to the field of computer science. And we&rsquo;re excited by the contributions women continue to make today. International Women&rsquo;s Day is an opportunity to celebrate women in tech. </p>

    <h3>What is Women Techmakers?</h3>
    <p><a href="http://developers.google.com/women-techmakers/">Women Techmakers</a> is a Google-led initiative that was founded within Google&rsquo;s Developer Relations team and spearheaded by Megan Smith, VP of Google[X]. To date, Women Techmakers has been a series of Google Developers Live shows, as well as talks and networking events during Google I/O. In 2014, Women Techmakers is expanding into a global program that will increase the visibility, community, and resources for technical women in industry.</p>

    <h3>What are Google&rsquo;s plans for the Women Techmakers celebration of International Women&rsquo;s Day?</h3>
    <p> In conjunction with International Women&rsquo;s Day on March 8th, Google is launching a series of global events geared towards increasing visibility, community, and resources for technical women in our industry. The events will feature panel discussions with female technology leaders, hands-on career-planning workshops, networking opportunities, and more. If you&rsquo;re interested in getting involved, <a href="#events" ocu-scroll-click>click here</a> for details on what is happening near you.</p>

    <h3>When will these events take place?</h3>
    <p> There are four Summits taking place at the Google office in Mountain View, New York, <a href="http://www.campuslondon.com/">Campus London</a> and <a href="http://www.campustelaviv.com/">Campus Tel Aviv</a> on Saturday, March 8th. Additional events range between between March 1st&ndash;March 22nd. For more information on an event near you, <a href="#events" ocu-scroll-click>click here</a>.</p>

    <h3>How can I become involved?</h3>
    <p><a href="#events" ocu-scroll-click>Click here</a> for more information on what is happening near you!</p>

    <h3>I am interested in participating in one of the celebrations, but I am not female. Can I still attend?</h3>
    <p>Absolutely! We would love to have the support and perspective of all genders for this initiative. Google believes in inclusivity both in our workplace and for all of our programs and events. </p>

    <h3>Will childcare be provided?</h3>
    <p>Childcare will be provided at the International Women&rsquo;s Day Summits in Mountain View and New York City. If you are in need of these services, please <a href="https://docs.google.com/a/google.com/spreadsheet/viewform?formkey=dEQtNW1Ld3IxV3BwZ2pRUzNtaXVkcEE6MA#gid=0">indicate so in your application</a>. Unfortunately, we are unable to provide childcare for other event locations at this time.</p>

    <h3>Who do I reach out to with questions?</h3>
    <p>For logistical event questions, please email our alias: <a href="mailto:IWD@google.com">IWD@google.com</a> and include the location of the event you&rsquo;d like more information about. All other inquiries should be directed to <a href="mailto:press@google.com">press@google.com</a>. </p>
  </div>
</section>

<footer class="page-footer">
  <p>Sponsored by <img class="google-logo" format="svg png" ocu-src="img/google-logo" alt="Google"></p>
</footer>

<div class="bg-photo"></div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.js"></script>
<script src="js/plugins.min.js"></script>
<script src="js/app.js?cachebuster=20140317"></script>

<script>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-47858200-2']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

</body>
</html>
