<!DOCTYPE html>
<html class="no-js" ng-app="womentechmakers">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Women Techmakers — Engineering the Future</title>
<meta name="description" content="TODO">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
<link rel="stylesheet" href="css/style.css">

<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,700,400' rel='stylesheet' type='text/css'>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script src="js/vendor.min.js"></script>

</head>

<body>

<header class="page-header" id="home">
  <div class="pattern-header"></div>

  <div class="container">
    <h1 class="site-title">
      <img format="svg png" ocu-src="img/logo-lockup-white" alt="Women Techmakers">
    </h1>
    <h2>Engineering the Future</h2>
    <a class="events-jumper" href="#events" ocu-scroll-click>Register for an Event</a>
  </div>
</header>

<nav class="page-nav" ng-controller="NavCtrl">
  <div class="nav-container" ui-show="nav.show_mobile">
    <ul>
      <li><a href="#home"   ocu-scroll-click class="nav-home current-nav-item">Home</a></li>
      <li><a href="#about"  ocu-scroll-click class="nav-about">About</a></li>
      <li><a href="#events" ocu-scroll-click class="nav-events">Events</a></li>
      <li><a href="#social" ocu-scroll-click class="nav-social">#womentechmakers</a></li>
      <li><a href="#faq"    ocu-scroll-click class="nav-faq">FAQ</a></li>
    </ul>
    <div class="mobile-nav-hook" ng-click="nav.show_mobile = !nav.show_mobile">
      <span>&nbsp;</span>
    </div>
  </div>
</nav>

<section id="about" class="about-section" ocu-scroll-section>
  <div class="container">
    <h2>About the Events</h2>
    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus eget enim quis mauris convallis aliquet ac vitae eros. Sed condimentum sapien et nibh dictum in varius orci gravida. Etiam tempus, diam congue consequat volutpat, lectus nibh mattis nibh, vitae blandit nisl lectus non neque. Etiam quis lobortis nibh. Vivamus pharetra vestibulum nulla, vel ultrices mauris blandit in. In consequat mi ac elit mollis tempus. Vestibulum et lacus lobortis metus ullamcorper hendrerit quis id leo. Vestibulum vehicula leo ac dui pretium tincidunt ac vitae libero. Sed sit amet porttitor arcu. Sed in orci orci, ac lacinia tortor. Morbi iaculis, elit quis vulputate tempor, nisl purus lobortis urna, eleifend consectetur massa nisi a nisi. Mauris accumsan rutrum dictum. Nam in sapien ligula. Ut diam purus, pulvinar tincidunt commodo nec, gravida eget nisl.</p>
  </div>
</section>

<section id="events" class="events-section" ocu-scroll-section ng-controller="MapCtrl">
  <div class="container">
    <h2>Register for an Event</h2>
    <div class="location-map-container">
      <div class="location-switch-modes">
        <button ng-click="event_map.show='map'" ui-show="event_map.show=='map'">
          Map</button>
        <button ng-click="event_map.show='list'" ui-show="event_map.show=='list'">
          List</button>
      </div>

      <div id="location-event-map" class="map-canvas" ng-show="event_map.show=='map'"
        ui-map="event_map.map" ui-options="event_map.map_options"></div>

      <ul id="location-event-list" class="location-event-list"
        ng-show="event_map.show=='list'">
        <li ng-repeat="event in event_map.events">

          <div class="event-wrapper" ui-show="event_map.selected === $index">
            <div class="top-border"></div>
            <div class="bottom-border"></div>

            <time datetime="{{event.start|coerceDate|date:'yyyy-MM-dd'}}"
              ng-bind="event.start|coerceDate|date:'longDate'"></time>
            <h3 class="event-title" style="font-size:18px">
              <a ng-href="https://developers.google.com{{event.defaultEventUrl}}"
                ng-bind="event.name" target="_blank"></a>
            </h3>
            <p class="event-location" ng-bind="event.location"></p>
            <!--<p class="event-description" ng-bind="event.description"></p>-->
          </div>

        </li>
      </ul>
    </div>
  </div>
</section>

<section id="social" class="social-section" ocu-scroll-section>
  <div class="pattern-right-layer"></div>

  <div class="container">
    <h2>#womentechmakers</h2>
    <div id="tagboard-embed"></div>
    <script>var tagboardOptions = {tagboard:"womentechmakers/154933", fixedHeight: false};</script>
    <script src="https://tagboard.com/public/js/embed.js"></script>
  </div>
</section>

<section id="faq" class="faq-section" ocu-scroll-section>
  <div class="pattern-left-layer"></div>

  <div class="container">
    <h2>Frequently Asked Questions</h2>

    <h3>A question?</h3>
    <p>An answer.</p>
  </div>
</section>

<div class="bg-photo"></div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
<script src="js/plugins.min.js"></script>
<script src="js/app.js"></script>

<!-- TODO: Analytics -->

</body>
</html>
